.loginContainer {
  background-color: #fff; /* Background of the login form */
  padding: 2rem 5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loginContainer h2 {
  color: #333;
  margin-bottom: 0.5rem;
}

.loginContainer p {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 3rem;
}

.inputgroup {
  margin-bottom: 1rem;
}

.inputgroup input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.loginbutton {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #a855f7;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.loginbutton:hover {
  background-color: #9333ea;
}

.signuplink {
  /* display: block;
  margin-top: 1rem; */
  color: #0077cc;
  text-decoration: none;
}

.signuplink:hover {
  text-decoration: underline;
}

.signuptext {
  margin-top: 3rem;
  color: #666;
  font-size: 0.9rem;
}
